.body{
	font-family: Times new Roman;
	background-color: blue;
}

.navbar-brand *{
	color:red;
}

.jumbotron{

	height: 200px;
	margin-top:-20px;
	background-color: lightpink
}

.jumbotron #details{
	position:absolute;
	color:white;
}

.jumbotron img{
	width:100%;
}

/*popular post  */

.popular{
	background-color:lightblue;
	padding: 20px;
	border-radius: 10px;
	border: 3px solid black;

}

.popular img{
	width:100%;

	margin-top:0px;

}
section .widgets{
	margin-bottom:15px;
}
/* category  */

.popular ul li{
	list-style: none;
}

/* style for post */
 .post{
	background-color: black;
	color:red;

}