.body{
	font-family: Times new Roman;
	background-color: blue;
}



.navbar-brand *{
	color:red;
}

.jumbotron{

	height: 200px;
	margin-top:-20px;
	background-color: lightpink
}

.jumbotron #details{
	position:absolute;
	color:white;
}

.jumbotron img{
	width:100%;
}

/*popular post  */

.popular{
	background-color:lightblue;
	padding: 20px;
	border-radius: 10px;
	border: 3px solid black;

}




.popular img{
	width:100%;

	margin-top:0px;

}
section .widgets{
	margin-bottom:15px;
}
/* category  */

.popular ul li{
	list-style: none;
}

/* style for post */
 .post{
	background-color:lightgreen;
	color:black;
	margin :15px 0px;
	border:2px solid darkgreen;

}
.post-date{
	padding: 20px;
	text-align: center;
	
}
.post .post-date .day{
font-size: 20px;
color:yellow;
}
.post .post-date .month{
font-size: 16px;
color:yellow;
}

.post .post-date .year{

font-weight: 100;
color:yellow;
}

.post .post-heading{
	padding:6px;
	border-right:solid 1px white;
	border-left:solid 1px white;
}
.post .profile-picture{
	padding:px;
}

.post .profile-picture img{
	width:100%;
	border-radius: 30px;
	margin-top:5px;
	margin-right: 20px;
	margin-right: 20px;

	

}
.post img{
	width: 100%;
	margin-top: 0px;


}

.post .desc{
font-family: arial;
font-weight: 100;
padding:15px;
line-height: 20px;

}

.post .bottom{
	border: black;
	margin-right: 10px;
	margin:10px;
	background-color: transparent;

	
}
.post .bottom .first{
	margin-right:20px;
	/*border-right:solid 2px black;*/

}
.post .bottom .second{
margin-left: 20px;
}

nav#pagination{
    text-align: center;
    
}
nav#pagination{
    color:red;
    font-size: 20px;
}

.author{
    background-color: lightgreen;
    padding:20px;
    margin-bottom: 15px;
}
.author img{
    width:100%;
    
}
.author p{
    font-weight: 100;
}
.author h2{
    color:red;
    font-style: bold;
    margin-top:-2px;
    
}

.comment{
background-color: aqua;
        padding:10px;
        margin-bottom:10px;
    width:100%;
}

.comment img{
    width:100%;
}
.comment h4{
    color: blue;
    font-weight: 100;
}
.comment p{
    line-height: 20px;
    font-weight: 100;
}
.comment .single-comment{
    margin:10px;
}

.comment-box{
    color: pink;
    background-color:lightpink;
    margin:5px;
    padding:10px;
    
}
.comment-box h2{
    color:black;
    
}
.form-group{
    color: black;
}


@media (max-width:786px)
{
    body{
        background-color: blue;
    }
    .jumbotron #details{
        margin-left:20px;
    }
    .post .post-heading{
/*        margin-top: -20px;*/
    }
    .post .profile-picture img{
        width:40%;
    }
    .post .profile-picture{
        text-align: center;
    }
    .author{
        background-color: red;
        text-align: center;
    }
    .author img{
        width:30%;
        text-align: center;
    }
    .author h2{
        color:yellow;
        font-style: italic;
        margin: 5px;
    }
    .related-post img{
    width:  10%;
    margin: 10px;

        }
    .comment{
        background-color: lightgoldenrodyellow;
        padding:10px;
        margin-bottom:10px;
        
    }
    .comment img{
        width:20%;
        text-align: center
    }
    .comment h4{
        text-align-last: center;
    }
    .comment .single-comment{
        text-align: center;
    }
    
}

.h1 small {
font-size: 24px;
}

.contact_us{
    font-size: 25px;
    color: blue;
    background-color: lightblue;
    margin-top:-30px;
    margin-bottom:40px;
    
}
.contact_us h2{
    font-size: 25px;
    color: blue;
    margin-left: 20px;
    
}

.contact_us h3{
    font-size: 25px;
    color:yellow;
    margin-left: 20px;
    
}

.related-post{
    background-color:lightcyan;
    padding:10px;
    margin-bottom:20px;
}
.related-post img{
    width:  90%;
    margin: 10px;

}
.related-post h2{
    color:olivedrab;
}


.box-design{
    border:solid 1px black;
    color:red;
    background-color: aqua;
    
}

.box{
    background: #ffffff;
margin: 0 0 30px;
    border: solid 3px #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    margin-top:25px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}