body{
  margin: 0;
  padding: 0

}
/* header css*/
#header{
  height: 100vh;
  background: lightyellow;
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
}
.user-box{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position:absolute;
}
.user-box img{
  border-radius: 50%;
  width: 250px;
  border: 2px solid blue;
}
.user-box h1{
  font-weight: bold;
  margin: 10px;

}
.user-box p{

}
.scroll-btn{
  bottom: 30px;
  position :absolute;
  left: 50%;
  transform : translateX(-50%);
  border: 1px solid black;
  padding: 10px 10px 20px;
  border-radius: 30px;
}
.scroll-bar  span{
  border: 5px solid RED;
  font-size: 10px
  border-radius: 30px;
}
.scroll-bar{
  animation: mover 1s infinite alternate;
}
@keyframes mover{
  0%(transform)

}
/*  -------------- About------------------*/
.about{
  padding-top: 40px;
  margin-bottom: -130px;

}
.profile-image{
  height: 400px;
}
.nav-bar{
  top:0;
  position: sticky;
  z-index: 2;

}
.navbar{
  background-color: yellow;
}
.nav-bar .fa-bar{
  color:white;
  font-size: 25px;
}
.navbar-toggler{
  outline: none !important;
  float:right;
}
.skill-bar p{
  margin-bottom: 6px;
  font-weight: 600;

}
.progress{
  border-radius: 16px;
  margin-bottom: 10px;

}
.progress-bar{
  border-radius: 16px;
}
.resume{
  padding-top: 50px;
  padding-bottom: 30px;
  background: ##f9f9f9;
}
.resume h3{
  margin-bottom: 50px;
}
.timeline{
  list-style-type: none;
  postion: relative;

}
.timeline:before{
  content: "";
  background: #555;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 480px;
  z-index: 1;
}
.timeline li{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background:lightblue;

}
.timeline li h4{
  background-color: black;
  color:white;

}
.timeline li h4 span{
  font-weight: bold;
color: #ccc;
}

.timeline li:before{
  content:"";
  background: #fff;
  display:inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid black;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 1;

}
.services{
  padding-top: 50px;
  padding-bottom: 50px;

}
.services h1{
  margin-bottom: 15px;

}
.services-box{
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
  border-top-right-radius : 50px;
  border-bottom-left-radius: 50px;
}
.services-box .fa{
  margin: 0 10px;
  font-size: 20px;

}
.services-box span{
  margin: 3px;
  font-size: 20px;
  font-weight: bold;

}
.services-box p{
  font-size: 15px;
  margin-top: 20px;
  color: #777;

}
.services-box:hover{
  background-color: #000;
  color: white;
  border-top-right-radius: 0;
;
  border-bottom-left-radius: 0;

  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transistion: 3s;

}
/* COntact section*/
.contact{
  padding-top: 20px;
  background:url("back.jpg");
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
}
.contact .row{
  pading: 30px 0;
  font-size: 22px;
}
/* social iconms*/
.social-icon{
  top: 50%;
  transform: translateY(-50%);
  position:sticky;
  z-index: 1;
  width: 80px;
}
.social-icon ul{
  padding: initial;

}
.social-icon ul li {
  hbeight: 400px;
  width: 40px;
  list-style-type: 12px;
  padding-left: 12px;
  padding-top: 6px;
  margin-top: 5px;
  color: white;
  background-color: black;

}
.social-icon ul li:hover{
  padding-left: 30px;
  width: 80px;
  transition: 1s;

}
