/* multicolor start 4285f4 */

.home-section .home-content .home-image {
    border: 5px solid #fff;
    line-height: normal;
    padding: 0px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.home-section .home-content .home-image:hover{
    
    border: 5px solid #4285f4;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
}
.home-section .home-content .home-image img{
    width: 100%;
    height: 100%;
}
.home-section .particals .circles{
    background: #4285f4;
}

.side-menu #mainmenu-area li a i,
.home-section .home-content .social-info ul li a i,
.base-btn1 i,
.section-heading .title i,
.single-counter .icon i,
.service-wrapper .single-feature .icon i,
.resume-wrapper .resume-box .knowledge-list .single-knowledge p::before,
.single-info .info-icon i,
.bottomtotop i,
.info.service-category .service-list li .service i,
.gallery-item-content .item-thumbnail .content-overlay .content .links a i,
.single-blog-details .content ul li p i,
.side-menu-wrapper .menu-toogle-icon i
{
    color: #4285f4!important;
}
.resume-wrapper .resume-box .education-list .single-education .year,
.resume-wrapper .resume-box .education-list .single-education::before,
.resume-wrapper .resume-box .education-list .single-education::after,
.categori-widget .cat-list li a .count,
.idgallery .slidPrv4.slick-arrow
{
    background: #4285f4;
}
.progress-bar,
.resume-wrapper .resume-box .skill-list .single-skill .progress .progress-bar,
.resume-wrapper .resume-box .skill-list2 .single-skill2 .circle-progress .right,
.resume-wrapper .resume-box .skill-list2 .single-skill2 .circle-progress .rotate
{
    background-color: #4285f4!important;
}
.resume-wrapper .resume-box .education-list .single-education .year::after {
    border-top: 10px solid #4285f4;
}
.resume-wrapper .resume-box .education-list .single-education {
    border-left: 3px solid #4285f4;
}
.single-review .stars i{
    color: #ffcc00!important;
}
.single-blog-details .content blockquote {
    border-left: 4px solid #4285f4;
}

.loader-1 .loader-outter {
    position: absolute;
    border: 4px solid #4285f4;
    border-left-color: transparent;
    border-bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
    animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  }
  
  .loader-1 .loader-inner {
    position: absolute;
    border: 4px solid #4285f4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    border-right: 0;
    border-top-color: transparent;
    -webkit-animation: loader-1-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
    animation: loader-1-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  }